@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-gunmetal: #2a3439;
  --color-charcoal: #36454f;
  --color-slate-900: #0f172a;
  --color-silver: #c0c0c0;
  --color-chrome: #e8e8e8;

  --font-sans: var(--font-inter);
  --font-mono: var(--font-roboto-mono);
}

:root {
  --background: #0f172a;
  /* Slate-900 */
  --foreground: #e8e8e8;
  /* Chrome/Silver */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}